<div class="home-container">
    <!-- Main Container -->
    <section class="main-banner">
      
      <div class="image-container left">
        <img src="left image.jpg" alt="Left Image" class="banner-img" />
      </div>
  
     
      <div class="center-content">
        <div class="image-container top">
          <img src="main top image.jpg" alt="Top Image" class="banner-img" />
        </div>
        <div class="banner-text">
          <h2 class="sale-title">ULTIMATE SALE</h2>
          <p class="subtitle">New Collection</p>
          
          <a routerLink="/new-arrivals" class="shop-now btn btn-primary">Shop Now</a>
        </div>
        <div class="image-container bottom">
          <img src="main bottom.jpg" alt="Bottom Image" class="banner-img" />
        </div>
      </div>
  
      
      <div class="image-container right">
        <img src="right image.jpg" alt="Right Image" class="banner-img" />
      </div>
    </section>
  </div>
