.search-container {
    text-align: center;
    margin: 20px;
  }
  
  .search-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  
  .search-box input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .search-box button {
    background-color: #F08080;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .search-box button:hover {
    background-color: #c06060;
  }
  